extends layout

block content
  h1 Albums
  a(href="/albums/new") New Album
  table
    thead
      td Genre
      td Artist
      td Album
    tr
      td Jazz
      td Miles Davis
      td
        a(href="/kindOfBlue") Kind of Blue
    tr
      td Rock
      td The B-52s
      td
        a(href="/cosmicThing") Cosmic Thing
    tr
      td Folk
      td Kris Delmhorst
      td
        a(href="/fiveStories") Five Stories
