extends layout

block content
  h1 New Car
  form(method="POST" action="/albums/new")
    p
      label(for="artist") Artist
      input(type="text" name="artist")
    p
      label(for="album") Album
      input(type="text" name="album")
    p
      label(for="genre") Genre
      select(id="Genre" name="genre")
       option(value="Rock") Rock
       option(value="Jazz") Jazz
       option(value="Folk") Folk
    p
      table
        td 1
        td
          input(type="radio" name="rating" value="1")
          input(type="radio" name="rating" value="2")
          input(type="radio" name="rating" value="3")
          input(type="radio" name="rating" value="4")
          input(type="radio" name="rating" value="5")
        td 5
    p
      input(type="checkbox" id="checkbox")
      label(for="checkbox") Contains Explicit Lyrics
    p
      input(type="submit" value="Create Album")
      b
      a(href="/albums") cancel
